#root #stageContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    cursor: crosshair;
    border: 1px solid black;
  }
  
.Details{
  position: fixed;
  top: 0;
}